//
//  SASS MIXINS (Helpers)
//
 
//padding helpers
@mixin padding-top-bottom(){
  padding-top:$spacing;
  padding-bottom:$spacing;
}

//margin helpers
@mixin margin-top-bottom(){
  margin-top:$spacing;
  margin-bottom:$spacing;
}

//positioning helpers
@mixin absolute-center(){
  position:absolute;
  left:50%;
  top:50%;
  @include translateX(-50%);
  @include translateY(-50%);
}
@mixin absolute-x(){
  position:absolute;
  left:50%;
  @include translateX(-50%);
}
@mixin absolute-y(){
  position:absolute;
  top:50%;
  @include translateY(-50%);
}
@mixin center() {
  margin-left:auto;
  margin-right:auto;
}

//borders & corners
@mixin rounded(){
  @include border-radius($radius);
}
